<!DOCTYPE html>
{% load static %}

<html lang="{% block lang %}fa{% endblock %}" dir="{% block dir %}rtl{% endblock %}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Programmer Partner{% endblock %}</title>

    {% block css %}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% endblock %}
    <link
            rel="shortcut icon"
            href="{% block fav_icon %}{% static 'images/icon.jpg' %}{% endblock %}"
            type="image/x-icon"
    >

    {% block top_js %}
        <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/tailwind.js' %}"></script>
    {% endblock %}
</head>
<body>

{% include 'inc/navbar.html' %}
<div class="container py-3">
    {% include 'inc/messages.html' %}
    {% block content %}{% endblock %}
</div>

</body>
{% block bottom_js %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/axios.min.js.js' %}"></script>
{% endblock %}
</html>